form
  .form-group
    label(for="title") Title
    input.form-control.todo-title(type="text", name="title", placeholder="Title")
    
  .form-group
    label(for="description") Description
    textarea.form-control.todo-description(type="text", name="description", placeholder="Description")

  button.btn.btn-primary(type="submit") Save
  button.btn.btn-default(type="reset") Cancel
