doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Todo!
    link(href="assets/app.css",rel="stylesheet")
    link(href="assets/bootstrap.min.css",rel="stylesheet")

  body
    .container
      block content
        
    block scripts
      script(src="js/vendor/jquery.min.js")
      script(src="js/vendor/q.js")
      script(src="js/vendor/lodash.min.js")
      script(src="js/vendor/backbone-min.js")
      script(src="js/vendor/backbone.syphon.js")
      script(src="js/vendor/backbone-validation.js")
      script(src="js/vendor/backbone.marionette.min.js")
      script(src="js/vendor/bootstrap.min.js")
